.dashboardCategoriesWrapper {
  padding: 0.4em;
  min-height: 100px;
  background-color: white;

  h2 {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: 400;
    color: #0a1f24;
    text-transform: uppercase;
  }
}

.dashboardCategories {
  display: flex;
  gap: 1rem;
}
