.dashboardReceipt {
  grid-template-columns: 10em 20em 9em 8em 1fr;
}

.dashboardReceipt > :nth-child(5) > * {
  margin-left: 2px;
}

.dashboardReceiptActions {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  a,
  span {
    padding: 0.3em;
    transition: background-color 200ms;
    border-radius: 50%;
    cursor: pointer;
  }

  a:hover,
  span:hover {
    color: #90c3d0;
    background-color: grey;
  }

  svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}
