.sign-up-in-container {
  background-color: white;
}

.form__input-wrapper {
  margin: 0 auto;
  width: max-content;
  display: grid;
  align-items: center;
  grid-template-columns: 14ch 26ch;
  column-gap: 2ch;
  margin-bottom: 0.2em;
}

.form__input-wrapper input {
  padding: 0.1em 0.2em;
  border: 1px solid #90c3d0;
}

.form__input-wrapper.invalid input {
  border-color: red;
}

.form__input-wrapper.invalid label {
  color: red;
}

.form__controls {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 4em;
  font-size: 10px;
}

.form__controls button {
  padding: 0.3em 1em;
  min-width: 16ch;
  border-radius: 1em;
  cursor: pointer;
}

.form__add-article-btn.disabled {
  cursor: not-allowed;
  background-color: #d5e8d4;
  border-color: #b9e0a5;
  color: white;
}
