@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: medium;
  src: url("../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Tangerine";
  font-weight: normal;
  src: url("../assets/fonts/tangerine/Tangerine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tangerine";
  font-weight: bold;
  src: url("../assets/fonts/tangerine/Tangerine-Bold.ttf") format("truetype");
}
