.iconPicker {
  .swiper-slide-next {
    transform: translateX(24px);
  }

  .swiper-slide-prev {
    transform: translateX(-24px);
  }

  .swiper-slide-active {
    transform: scale(2.25);
  }
}

.colorPicker {
  .swiper-slide-active {
    position: relative;
    outline-style: solid;
    outline-width: 4px;
    outline-color: black;
    outline-offset: -2px;
    z-index: 1;
  }
}
